{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Odprti računi občine</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"
      integrity="sha512-vCUbejtS+HcWYtDHRF2T5B0BKwVG/CLeuew5uT2AiX4SJ2Wff52+kfgONvtdATqkqQMC9Ye5K+Td0OTaz+P7cw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/patternomaly/1.3.2/patternomaly.min.js"
      integrity="sha512-Zjnjh2DCl/MrwdZ8FNp25vSbXac3yWUWoMn0CL8qQ/K11HGv7cJ9RGNUiojnSfqVtwbGf+eyqEEjiw2hlHd6iQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
</head>
<body>
    <div class="nav">
        <a href="{% url 'overview' municipality_id=request.resolver_match.kwargs.municipality_id %}">Pregled</a>
        <a href="{% url 'cut_of_funds' municipality_id=request.resolver_match.kwargs.municipality_id %}">Razrez sredstev</a>
        <a href="{% url 'comparison_over_time' municipality_id=request.resolver_match.kwargs.municipality_id %}">Primerjava skozi čas</a>
    </div>

    {% block description %}
    {% endblock description %}

    {% block budget %}
    {% endblock budget %}

    {% block content %}
    {% endblock content %}

    <div id="footer">
        To je footer
    </div>

</body>
</html>
