{% load year_chooser tree_table %}

<div class="table-breadcrumbs-container my-3 my-md-5">
  <div class="table-breadcrumbs-caption text-end mb-1 mx-3"><span>Delež in odstotek proračuna</span></div>
  <div class="table-breadcrumbs table-breadcrumbs--{{ bar_colors }}">
    {% for parent in tree_parents|slice:":4" %}
      <a href="#tabs;{{ parent.code|default_if_none:"" }}" class="breadcrumb-option">
        <div class="breadcrumb-selector"></div>
        <div class="breadcrumb-label">
          <div class="name">{{ parent.name|capfirst_if_allcaps }}</div>
          {% if parent.planned != None and parent.realized != None %}
            <div class="amount">{{ parent.planned|floatformat:"2g" }} EUR | {% amount_percentage tree_type summary "planned" parent.planned 2 %}&nbsp;%</div>
          {% elif parent.realized != None %}
            <div class="amount">{{ parent.realized|floatformat:"2g" }} EUR | {% amount_percentage tree_type summary "realized" parent.realized 2 %}&nbsp;%</div>
          {% elif parent.amount != None %}
            <div class="amount">{{ parent.amount|floatformat:"2g" }} EUR | {% amount_percentage tree_type summary "amount" parent.amount 2 %}&nbsp;%</div>
          {% endif %}
        </div>
      </a>
    {% endfor %}
    <a href="#tabs;{{ tree_data.code|default_if_none:"" }}" class="breadcrumb-option active">
      <div class="breadcrumb-selector"></div>
      <div class="breadcrumb-label">
        <div class="name">{{ tree_data.name|capfirst_if_allcaps }}</div>
        {% if tree_data.planned != None %}
          <div class="bar-chart-legend d-md-none">
            <i class="icon icon-circle icon-circle--{{ bar_colors }}-1 icon-size-2 me-1"></i>
            {% include 'legend_budget_text.html' with municipality_financial_year=municipality_financial_year only %}
          </div>
          <div class="amount">{{ tree_data.planned|floatformat:"2g" }} EUR | {% amount_percentage tree_type summary "planned" tree_data.planned 2 %}&nbsp;%</div>
        {% endif %}
        {% if tree_data.realized != None %}
          <div class="bar-chart-legend d-md-none">
            <i class="icon icon-circle icon-circle--{{ bar_colors }}-2 icon-size-2 me-1"></i>
            {% if tree_type == "expenses" %}
              {% include 'legend_realization_text.html' with summary=summary date=summary.realized_expenses_date only %}
            {% else %}
              {% include 'legend_realization_text.html' with summary=summary date=summary.realized_revenue_date only %}
            {% endif %}
          </div>
          <div class="amount">{{ tree_data.realized|floatformat:"2g" }} EUR | {% amount_percentage tree_type summary "realized" tree_data.realized 2 %}&nbsp;%</div>
        {% endif %}
        {% if tree_data.amount != None %}
          <div class="bar-chart-legend d-md-none">
            <i class="icon icon-circle icon-circle--{{ bar_colors }}-2 icon-size-2 me-1"></i>
            Realizacija
          </div>
          <div class="amount">{{ tree_data.amount|floatformat:"2g" }} EUR | {% amount_percentage tree_type summary "amount" tree_data.amount 2 %}&nbsp;%</div>
        {% endif %}
      </div>
    </a>
  </div>
</div>
