{% with request.resolver_match.kwargs.municipality_id as municipality_id %}

<section class="budget">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        {% if request.resolver_match.url_name == 'overview' %}
        <a class="budget-box-link" href="{% url 'cut_of_funds' municipality_id=municipality_id year_id=year.id %}">
        {% else %}
        <span class="budget-box-link">
        {% endif %}
          <h3>Proračun {{ year }}</h3>
          <div class="budget-summary">
            <div class="budget-summary-title">
              <i class="icon icon-prihodki me-2"></i> Prihodki
            </div>
            <div>
              {% if summary.planned_revenue != None %}
              <div class="budget-amount">
                <small class="amount-description">
                  {% if municipality_financial_year.budget_date %}
                    {% if municipality_financial_year.budget_type == 'VALID' %}
                      Veljavni proračun
                    {% elif municipality_financial_year.budget_type == 'REBALANS' %}
                      Rebalans proračuna
                    {% elif municipality_financial_year.budget_type == 'PROPOSAL' %}
                      Predlog proračuna
                    {% else %}
                      Sprejeti proračun
                    {% endif %}
                    {{ municipality_financial_year.budget_date|date:"j. n. Y" }}
                  {% else %}
                    Proračun
                  {% endif %}
                </small>
                <span class="amount-number">{{ summary.planned_revenue|floatformat:"2g" }}</span>
              </div>
              {% endif %}
              {% if summary.realized_revenue != None %}
              <div class="budget-amount">
                <small class="amount-description">
                  Realizacija
                  {% if summary.realized_revenue_date %}
                  {{ summary.realized_revenue_date|date:"j. n. Y" }}
                  {% endif %}
                </small>
                <span class="amount-number">{{ summary.realized_revenue|floatformat:"2g" }}</span>
              </div>
              {% endif %}
            </div>
            <div>
              {% if summary.planned_revenue_percentage != None %}
              <div class="budget-bar">
                <div class="bar-max bar-max--1" style="width: {% widthratio summary.planned_revenue_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--1"></div>
                </div>
              </div>
              {% endif %}
              {% if summary.realized_revenue_percentage != None %}
              <div class="budget-bar">
                <div class="bar-max bar-max--1" style="width: {% widthratio summary.realized_revenue_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--2"></div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="budget-summary-title">
              <i class="icon icon-odhodki me-2"></i> Odhodki
            </div>
            <div>
              {% if summary.planned_expenses != None %}
              <div class="budget-amount">
                <small class="amount-description">
                  {% if municipality_financial_year.budget_date %}
                    {% if municipality_financial_year.budget_type == 'VALID' %}
                      Veljavni proračun
                    {% elif municipality_financial_year.budget_type == 'REBALANS' %}
                      Rebalans proračuna
                    {% elif municipality_financial_year.budget_type == 'PROPOSAL' %}
                      Predlog proračuna
                    {% else %}
                      Sprejeti proračun
                    {% endif %}
                    {{ municipality_financial_year.budget_date|date:"j. n. Y" }}
                  {% else %}
                    Proračun
                  {% endif %}
                </small>
                <span class="amount-number">{{ summary.planned_expenses|floatformat:"2g" }}</span>
              </div>
              {% endif %}
              {% if summary.realized_expenses != None %}
              <div class="budget-amount">
                <small class="amount-description">
                  Realizacija
                  {% if summary.realized_expenses_date %}
                  {{ summary.realized_expenses_date|date:"j. n. Y" }}
                  {% endif %}
                </small>
                <span class="amount-number">{{ summary.realized_expenses|floatformat:"2g" }}</span>
              </div>
              {% endif %}
            </div>
            <div>
              {% if summary.planned_expenses_percentage != None %}
              <div class="budget-bar">
                <div class="bar-max bar-max--2" style="width: {% widthratio summary.planned_expenses_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--1"></div>
                </div>
              </div>
              {% endif %}
              {% if summary.realized_expenses_percentage != None %}
              <div class="budget-bar">
                <div class="bar-max bar-max--2" style="width: {% widthratio summary.realized_expenses_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--2"></div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% if request.resolver_match.url_name == 'overview' %}
          <div class="text-center mt-5 mb-3">
            <span class="button-arrow-link">Podrobneje razišči letošnji proračun in realizacijo <i class="icon icon-puscica ms-1"></i></span>
          </div>
          {% endif %}
        {% if request.resolver_match.url_name == 'overview' %}
        </a>
        {% else %}
        </span>
        {% endif %}
      </div>
    </div>
    {% if show_year_chooser %}
    <div class="row justify-content-center">
      <div class="col col-year-chooser">
        {% include "year-chooser.html" %}
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% endwith %}
