{% with request.resolver_match.kwargs.municipality_slug as municipality_slug %}

<section class="budget">
  <div class="container">
    <div class="row justify-content-center {% if hide_on_mobile %}d-none d-md-flex{% endif %}">
      <div class="col">
        <span class="budget-box-link">
          <h3>Proračun {{ year }}</h3>
          <div class="budget-summary">
            <div class="budget-summary-title">
              <i class="icon icon-prihodki me-2"></i>
              <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=revenue#tabs">Prihodki</a>
            </div>
            <div>
              {% if summary.planned_revenue != None %}
              <div class="budget-amount">
                <small class="amount-description">
                  {% include 'legend_budget_text.html' with municipality_financial_year=municipality_financial_year only %}
                </small>
                <span class="amount-number">{{ summary.planned_revenue|floatformat:"2g" }}</span>
              </div>
              {% endif %}
              {% if summary.realized_revenue != None and municipality_financial_year.budget_type != 'PROPOSAL' %}
              <div class="budget-amount">
                <small class="amount-description">
                  {% include 'legend_realization_text.html' with summary=summary date=summary.realized_revenue_date only %}
                </small>
                <span class="amount-number">{{ summary.realized_revenue|floatformat:"2g" }}</span>
              </div>
              {% endif %}
            </div>
            <div>
              {% if summary.planned_revenue_percentage != None %}
              <div class="budget-bar">
                <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=revenue#tabs" class="bar-max bar-max--1" style="width: {% widthratio summary.planned_revenue_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--1"></div>
                </a>
              </div>
              {% endif %}
              {% if summary.realized_revenue_percentage != None and municipality_financial_year.budget_type != 'PROPOSAL' %}
              <div class="budget-bar">
                <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=revenue#tabs" class="bar-max bar-max--1" style="width: {% widthratio summary.realized_revenue_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--2"></div>
                </a>
              </div>
              {% endif %}
            </div>
            <div class="budget-summary-title">
              <i class="icon icon-odhodki me-2"></i>
              <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=expenses#tabs">Odhodki</a>
            </div>
            <div>
              {% if summary.planned_expenses != None %}
              <div class="budget-amount">
                <small class="amount-description">
                  {% include 'legend_budget_text.html' with municipality_financial_year=municipality_financial_year only %}
                </small>
                <span class="amount-number">{{ summary.planned_expenses|floatformat:"2g" }}</span>
              </div>
              {% endif %}
              {% if summary.realized_expenses != None and municipality_financial_year.budget_type != 'PROPOSAL' %}
              <div class="budget-amount">
                <small class="amount-description">
                  {% include 'legend_realization_text.html' with summary=summary date=summary.realized_expenses_date only %}
                </small>
                <span class="amount-number">{{ summary.realized_expenses|floatformat:"2g" }}</span>
              </div>
              {% endif %}
            </div>
            <div>
              {% if summary.planned_expenses_percentage != None %}
              <div class="budget-bar">
                <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=expenses#tabs" class="bar-max bar-max--2" style="width: {% widthratio summary.planned_expenses_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--1"></div>
                </a>
              </div>
              {% endif %}
              {% if summary.realized_expenses_percentage != None and municipality_financial_year.budget_type != 'PROPOSAL' %}
              <div class="budget-bar">
                <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=expenses#tabs" class="bar-max bar-max--2" style="width: {% widthratio summary.realized_expenses_percentage 1 100 %}%;">
                  <div class="bar-amount bar-amount--2"></div>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          {% if request.resolver_match.url_name == 'overview' %}
          <div class="text-center mt-5 mb-3">
            <a class="button-arrow-link" href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}">Podrobneje razišči letošnji proračun in realizacijo <i class="icon icon-puscica ms-1"></i></a>
          </div>
          {% endif %}
        </span>
      </div>
    </div>
    {% if show_year_chooser %}
    <div class="row justify-content-center">
      <div class="col col-year-chooser">
        {% include "year-chooser.html" %}
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% endwith %}
