{% load jsonify tree_table year_chooser %}

<div class="comparison-chart-container my-5">
  <div class="row">
    <div class="col-5">
      <div class="chart-legend">
        <div class="chart-legend-caption">Izberi kategorije, ki jih želiš prikazati na grafu.</div>
        <div class="chart-legend-options">
          {% for child in tree_data.children %}
          <div class="chart-legend-option">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{ child.code }}" id="checkbox_{{ child.code }}" checked>
              <label class="form-check-label" for="checkbox_{{ child.code }}">
                <i class="icon icon-circle"></i>
                <span>{{ child.name|capfirst_if_allcaps }}</span>
              </label>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="comparison-chart">
        <canvas id="comparison_chart"></canvas>
      </div>
      <div class="comparison-chart-year-chooser">
        <div class="mt-3 mb-4">
          <div class="year-line">
            {% for year_ in years %}
              <a href="{% url 'cut_of_funds' municipality_id=municipality_id year_id=year_.id %}" class="year-option {% if year_.id == year.id %}active{% endif %}" style="left: {% line_percent years|length forloop.counter0 %}%;">
                <div class="year-selector"></div>
                <div class="year-label">{{ year_.name }}</div>
              </a>
            {% endfor %}
          </div>
        </div>
        <h4 class="text-center mt-5">Kliknite na letnico za prikaz podatkov podatkov v tabeli spodaj.</h4>
      </div>
    </div>
  </div>
</div>
<script>window.__CHART_DATA__ = JSON.parse("{{ years_data|jsonify|escapejs }}");</script>
