{% load static tree_table year_chooser %}

<div class="comparison-chart-container my-5">
  <div class="row">
    <div class="col-12 col-md-5 d-none d-md-block">
      <div class="chart-legend">
        <div class="chart-legend-caption">Izberi kategorije, ki jih želiš prikazati na grafu.</div>
        <div class="chart-legend-options" id="js-comparison-options"></div>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <div style="display: none;" class="comparison-chart-tooltip" id="js-comparison-chart-tooltip">
        <div class="tooltip-name"></div>
        <div class="tooltip-year"></div>
        <div class="tooltip-value"></div>
      </div>
      <div class="comparison-chart" id="js-comparison-chart"></div>
      <div class="comparison-chart-year-chooser">
        <div class="mt-3 mb-4 ms-3 me-3 ms-md-0 me-md-0">
          <div class="year-line">
            {% for year_ in years %}
              <a href="{% url 'comparison_over_time' municipality_id=municipality_id year_id=year_.id %}#tabs" class="year-option {% if year_.id == year.id %}active{% endif %}" style="left: {% line_percent years|length forloop.counter0 %}%;">
                <div class="year-selector"></div>
                <div class="year-label">{{ year_.name }}</div>
              </a>
            {% endfor %}
          </div>
        </div>
        <h4 class="text-center mt-5">Kliknite na letnico za prikaz podatkov podatkov v tabeli spodaj.</h4>
      </div>
    </div>
  </div>
</div>
<script>window.__COMPARISON_CHART_DATA_URL__ = "{% url 'comparison_over_time_chart_data' municipality_id=municipality_id year_id=year.id %}";</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.min.js" integrity="sha512-nfUlp2ZWPKWlnAH/OsMeAqRSYBxOdPYeBXwceyw6QqqZ7uTT/s5/eS1hMKphjVBouk0jf/JQ8ULVJRnEqSHkXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/d3_stepMiddle.js' %}"></script>
<script src="{% static 'js/comparison_stacked_area_chart.js' %}"></script>
