{% extends "base.html" %}
{% load static %}

{% block description %}
  {% include "description.html" with simple_padding=True page_title="Primerjava skozi čas" page_description="Enostavno primerjajte različne proračunske kategorije skozi leta in spoznajte, kako se je struktura občinskega proračuna spreminjala. Aplikacija vam omogoča, da izberete, katere proračunske kategorije želite raziskovati ali pa primerjajte celotne prihodke ali odhodke." %}
{% endblock description %}

{% block content %}

{% with request.resolver_match.kwargs.municipality_slug as municipality_slug %}

<section class="overview-content">
  <div class="container">
    <div class="row">
      <div class="col">
        <a name="tabs"></a>
        <div class="tabs">
          <a href="{% url 'comparison_over_time' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=revenue#tabs" class="tab {% if tree_type == "revenue" %}active{% endif %}"><i class="icon icon-prihodki icon-size-2 me-2"></i> Pridobljena sredstva</a>
          <a href="{% url 'comparison_over_time' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=expenses#tabs" class="tab {% if tree_type == "expenses" %}active{% endif %}"><i class="icon icon-odhodki icon-size-2 me-2"></i> Porabljena sredstva</a>
        </div>
      </div>
    </div>
    <div class="row">
      <a name="table"></a>
      <div class="col">
        <div id="js-breadcrumbs-container"></div>
        {% include "comparison_stacked_area_chart.html" %}
        <div id="js-table-container"></div>
      </div>
      <script>window.__BAR_CHART_TABLE_URL__ = "{% url 'comparison_over_time_table' municipality_slug=municipality_slug year_slug=year.name|slugify %}";</script>
      <script src="{% static 'js/bar_chart_table.js' %}"></script>
    </div>
  </div>
</section>

{% endwith %}

{% endblock content %}
