{% extends "base.html" %}

{% block description %}
    {% include "description.html" with page_title="Razrez sredstev" page_description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged." %}
{% endblock description %}

{% block budget %}
{% include "budget.html" with summary=summary addLink=False %}
{% endblock budget %}

{% block content %}
    <div class="content-box">
        Tukaj pride graf </br>
        Tukaj pride tabela </br>
    </div>

    {% if year.is_current %}
    Trenutno leto kaži primerjavo s planiranim in realiziranim <br>
    {% endif %}

    Revenues: {{ revenues }}
    <br>
    Expanses: {{ expenses }}

{% endblock content %}
