{% extends "base.html" %}
{% load static %}

{% block description %}
  {% include "description.html" with page_title="Razrez sredstev" page_description="Preverite, kje je vaša občina pridobila proračunska sredstva za različna leta in kako jih je porabila. Aplikacija vam omogoča raziskovanje posameznih proračunskih kategorij tudi v globino." %}
{% endblock description %}

{% block budget %}
  {% include "budget.html" with hide_on_mobile=True show_year_chooser=True %}
{% endblock budget %}

{% block content %}

{% with request.resolver_match.kwargs.municipality_slug as municipality_slug %}

<section class="overview-content pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <a name="tabs"></a>
        <div class="tabs">
          <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=revenue#tabs" class="tab {% if tree_type == "revenue" %}active{% endif %}"><i class="icon icon-prihodki icon-size-2 me-2"></i> Pridobljena sredstva</a>
          <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year.name|slugify %}?type=expenses#tabs" class="tab {% if tree_type == "expenses" %}active{% endif %}"><i class="icon icon-odhodki icon-size-2 me-2"></i> Porabljena sredstva</a>
        </div>
      </div>
    </div>
    <div class="row">
      <a name="table"></a>
      <div class="col">
        <div id="js-breadcrumbs-container"></div>
        <div id="js-table-container"></div>
      </div>
      <script>window.__BAR_CHART_TABLE_URL__ = "{% url 'cut_of_funds_table' municipality_slug=municipality_slug year_slug=year.name|slugify %}";</script>
      <script src="{% static 'js/bar_chart_table.js' %}"></script>
    </div>
  </div>
</section>

{% endwith %}

{% endblock content %}
