{% extends "base.html" %}
{% load year_chooser tree_table %}

{% block description %}
  {% include "description.html" with show_year_chooser=True page_title="Razrez sredstev" page_description="Open Budget application provides an opportunity for the public to explore and visually interact with Erie’s operating and capital expenses." %}
{% endblock description %}

{% block budget %}
  {% include "budget.html" %}
{% endblock budget %}

{% block content %}

<section class="overview-content pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="tabs">
          <a href="#" class="tab active"><i class="icon icon-prihodki icon-size-2 me-2"></i> Kje je občina pridobila sredstva?</a>
          <a href="#" class="tab"><i class="icon icon-odhodki icon-size-2 me-2"></i> Kam so šla občinska sredstva?</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{revenue}}
        {% child_max_graph_scale revenue as value_max %}
        {% graph_scale_values value_max as scale_values %}
        <table class="table bar-chart-table my-5">
          <thead>
            <tr>
              <th>{{ revenue.name }}</th>
              <th>
                {% if revenue.planned != None %}<div>{{ revenue.planned|floatformat:"2g" }} EUR</div>{% endif %}
                {% if revenue.realized != None %}<div>{{ revenue.realized|floatformat:"2g" }} EUR</div>{% endif %}
              </th>
              <th>
                {% if revenue.planned != None %}<div class="bar-chart-legend"><i class="icon icon-circle icon-circle--1-1 icon-size-2 me-2"></i> Proračun</div>{% endif %}
                {% if revenue.realized != None %}<div class="bar-chart-legend"><i class="icon icon-circle icon-circle--1-2 icon-size-2 me-2"></i> Dejansko stanje</div>{% endif %}
              </th>
            </tr>
          </thead>
          {% for child in revenue.children %}
          <tr>
            <td>{{ child.name|lower|capfirst }}</td>
            <td>
              <div>{{ child.planned|floatformat:"2g" }} EUR</div>
              <div>{{ child.realized|floatformat:"2g" }} EUR</div>
            </td>
            <td class="position-relative">
              {% for scale_value in scale_values %}
                <div class="bar-chart-line" style="left: {% line_percent scale_values|length forloop.counter0 %}%;"></div>
              {% endfor %}
              <div class="bar-chart-bar">
                <div class="bar-max bar-max--1" style="width: {% widthratio child.planned value_max 100 %}%;">
                  <div class="bar-amount bar-amount--1"></div>
                </div>
              </div>
              <div class="bar-chart-bar">
                <div class="bar-max bar-max--1" style="width: {% widthratio child.realized value_max 100 %}%;">
                  <div class="bar-amount bar-amount--2"></div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td class="position-relative">
                {% for scale_value in scale_values %}
                  <div class="bar-chart-value" style="left: {% line_percent scale_values|length forloop.counter0 %}%;">
                    {{ scale_value|floatformat:"0g" }} €
                  </div>
                {% endfor %}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
