{% extends "base.html" %}
{% load tree_table %}

{% block description %}
  {% with municipality.name|remove_obcina_from_name as m_name %}
    {% include "description.html" with page_title="Grafični prikaz proračuna občine "|add:m_name page_description="S pomočjo interaktivnega vmesnika preglejte proračun ter načrtovane, kot tudi realizirane, prihodke ter odhodke občine." %}
  {% endwith %}
{% endblock description %}

{% block budget %}
  {% include "budget.html" %}
{% endblock budget %}

{% block content %}

{% with request.resolver_match.kwargs.municipality_id as municipality_id %}

<section class="overview-content pt-0">
  <div class="container">
    <div class="row align-items-stretch large-gap">
      <div class="col d-flex align-items-center extend-bg extend-bg--left">
        <a href="{% url 'cut_of_funds' municipality_id=municipality_id %}" class="box-link ms-auto">
          <h4>Razišči proračune in zaključne račune</h4>
          <hr class="hr-wave my-4">
          <p>
            Preveri posamezne proračunske postavke prihodkov in odhodkov in realizacije.
          </p>
          <div class="mt-5 mb-3">
            <span class="button-arrow-link">Pojdi <i class="icon icon-puscica ms-1"></i></span>
          </div>
        </a>
      </div>
      <div class="col d-flex align-items-center extend-bg extend-bg--right">
        <a href="{% url 'comparison_over_time' municipality_id=municipality_id %}" class="box-link">
          <h4>Primerjaj proračunske kategorije skozi leta</h4>
          <hr class="hr-wave my-4">
          <p>
            Raziskuj razlike v proračunskih postavkah za različna leta.
          </p>
          <div class="mt-5 mb-3">
            <span class="button-arrow-link">Pojdi <i class="icon icon-puscica ms-1"></i></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endwith %}

{% endblock content %}
