{% load year_chooser %}

<div class="year-chooser">
  <h4>Izberite leto za prikaz podatkov</h4>
  <div class="mt-3 mb-4">
    <div class="year-line">
      {% for year_ in years %}
        <a href="#" class="year-option {% if year_.id == year.id %}active{% endif %}" style="left: {% line_percent years|length forloop.counter0 %}%;">
          <div class="year-selector">
            <div class="year-tick"></div>
          </div>
          <div class="year-label">{{ year_.name }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
