{% load year_chooser %}

{% with request.resolver_match.kwargs.municipality_slug as municipality_slug %}

<div class="year-chooser">
  <h4>Izberite leto za prikaz podatkov</h4>
  <div class="mt-3 mb-4 d-none d-md-block">
    <div class="year-line">
      {% for year_ in years %}
        <a href="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year_.name|slugify %}" class="year-option {% if year_.id == year.id %}active{% endif %}" style="left: {% line_percent years|length forloop.counter0 %}%;">
          <div class="year-selector"></div>
          <div class="year-label">{{ year_.name }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="d-md-none">
    <select onchange="window.location.href = this.options[this.selectedIndex].value">
      {% for year_ in years %}
        <option value="{% url 'cut_of_funds' municipality_slug=municipality_slug year_slug=year_.name|slugify %}" {% if year_.id == year.id %}selected{% endif %}>{{ year_.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% endwith %}
